<!DOCTYPE html>
<html lang="en">

<head>
   
    
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property=”og:title” content=”Spotbot” />
    <meta property=”og:image” content=”” />

    <title>Spotbot</title>
    <meta name="description" content="Control spotify" />
    <meta name="robots" content="index, archive" />
    <link rel="icon" type="image/x-icon" href="">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
    <style>
        body {background-color: rgb(8, 8, 8);}
        .custom-image {
        max-width: 300px;
        margin: 0 auto;
        }
        #responseList {
            list-style-type: none;
            padding: 0;
            text-align: left;
        }
        .loading-spinner {
            border: 4px solid #f3f3f3;
            border-top: 4px solid #3498db;
            border-radius: 50%;
            width: 40px;
            height: 40px;
            animation: spin 1s linear infinite;
            margin-left: auto;
            margin-right: auto
            }

        @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
            }
        #authorizeBtn{
            margin-top: 5px;
            margin-bottom: 20px; 
        }

    </style>

   

</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="text-white">Spotbot</h1>
                <a href="https://forms.gle/psYb8GV6Go1jY8uU8" target="_blank">Request access</a>
                <p class="text-white" id="authStatus">Connect your account to get started</p>
                <button type="button" class="btn btn-primary btn-md btn btn-success" id="authorizeBtn">Sign into Spotify</button>
                <div class="input-group">
                    <input type="text" class="form-control" id="inputText" placeholder="Enter Spotbot command">
                    <div class="input-group-append">
                        <button class="btn btn-success" type="submit" id="submitBtn" disabled>Submit</button>
                    </div>
                    
                </div>
                <div class="loading-spinner" id="loading-spinner" style="display: none;"></div>
                <p class="text-white"  id="resultText"></p>
                <ul class="text-white" id="responseList"></ul>
            </div>
        </div>
        <div class="row">
            <div class="text-white col-12 text-center">
                Commands to try
                <div class="row justify-content-center">
                
                <ul>
                    <li>Skip song, pause song, resume song</li>
                    <li>Play [enter song name/artist]</li>
                    <li>Find a similar song and add it to queue</li>
                </ul> 
            </div>
            </div>
        </div>
    </div>
    
    <script>
        // Script to adjust page after spotify authentication
        // Get URL parameters
        const urlParams = new URLSearchParams(window.location.search);

        if (urlParams.get('auth_success') === '1') {
            document.getElementById('authStatus').textContent = 'Connected and ready to go!';
            // Select the button element by its ID
            var button = document.getElementById('submitBtn');

            // Remove the 'disabled' attribute to enable the button
            button.removeAttribute('disabled');

            //Change style of sign in button
            var signin_button = document.getElementById('authorizeBtn');
            signin_button.className='btn btn-md btn-outline-success'
            signin_button.textContent = 'Spotify added'

        } else if (urlParams.get('auth_error') === '1') {
            document.getElementById('authStatus').textContent = 'Somethings up. Try to sign in again';
        }

    </script>
    <script>
        //Spotify Authentication
        const clientId = "{{ client_id }}";
        const redirectUri = "{{ redirect_uri }}";
        const scope = "{{ scope }}";

        const authorizeBtn = document.getElementById("authorizeBtn");

        authorizeBtn.addEventListener("click", () => {
            const authUrl = `https://accounts.spotify.com/authorize?client_id=${clientId}&response_type=code&redirect_uri=${redirectUri}&scope=${scope}&show_dialog=true`;
            window.location.href = authUrl;
        });
    </script>
    <script>
        //Submit request and get result
        const inputText = document.getElementById("inputText");
        const submitBtn = document.getElementById("submitBtn");
        const resultText = document.getElementById("resultText");

        submitBtn.addEventListener("click", async () => {
            const text = inputText.value.trim();
            if (text) {
                try {
                    // Show the loading spinner
                    document.getElementById('loading-spinner').style.display = 'block';

                    // Disable the 'Submit' button
                    const submitBtn = $("button[type='submit']");
                    submitBtn.prop("disabled", true);

                    //show thinking text
                    resultText.textContent = 'Thinking...'

                    const response = await fetch('/submit', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({text: text})
                    });
                    const result = await response.json();
                    if (result.error) {
                        resultText.textContent = 'Error: ' + result.error;
                    } else {
                        // Hide the loading spinner and enable the ask button
                        document.getElementById('loading-spinner').style.display = 'none';
                        submitBtn.prop("disabled", false);

                        //hide thinking text
                        resultText.style.display = 'none'
                        
                        //parse response
                        const apiResponse = result.result

                        function addListItem(label, text, color) {
                            let list = document.querySelector('#responseList');
                            let listItem = document.createElement('li');
                            listItem.textContent = label + ': ' + text;

                            // Assign color based on label
                            switch(label) {
                                case 'Thought':
                                case 'Input: ':
                                    listItem.style.color = 'green';
                                    break;
                                case 'Action':
                                case 'Action Input':
                                    listItem.style.color = 'white';
                                    break;
                                case 'Observation':
                                    listItem.style.color = 'blue';
                                    break;
                                case 'Final thought':
                                    listItem.style.color = 'blue';
                                    break;
                            }

                            list.appendChild(listItem);
                        }

                        addListItem('Input: ', apiResponse.input, 'green');
                        apiResponse.intermediate_steps.forEach(step => {
                            let thoughtParts = step[0].log.split('\n');
                            thoughtParts.pop(); // Remove Action Input line
                            thoughtParts.pop(); // Remove Action line
                            let cleanedThought = thoughtParts.join('\n'); 

                            addListItem('Thought', cleanedThought, 'green');
                            addListItem('Action', step[0].tool, 'white');
                            addListItem('Action Input', step[0].tool_input, 'white');
                            if (typeof step[1] === "object") {
                                for (const key in step[1]) {
                                    addListItem('Observation (' + key + ')', step[1][key], 'blue');
                                }
                            } else {
                                addListItem('Observation', step[1], 'blue');
                            }
                        })
                        addListItem('Final thought', apiResponse.output, 'blue');




                        // function addListItem(label, text) {
                        //     let list = document.querySelector('#responseList');
                        //     let listItem = document.createElement('li');
                        //     listItem.textContent = label + ': ' + text;
                        //     list.appendChild(listItem);
                        // }

                        // addListItem('Input: ', apiResponse.input);
                        // apiResponse.intermediate_steps.forEach(step => {
                        //     let thoughtParts = step[0].log.split('\n');
                        //     thoughtParts.pop(); // Remove Action Input line
                        //     thoughtParts.pop(); // Remove Action line
                        //     let cleanedThought = thoughtParts.join('\n'); // Rejoin the remaining lines

                        //     addListItem('Thought', cleanedThought);
                        //     addListItem('Action', step[0].tool);
                        //     addListItem('Action Input', step[0].tool_input);
                        //     if (typeof step[1] === "object") {
                        //         for (const key in step[1]) {
                        //             addListItem('Observation (' + key + ')', step[1][key]);
                        //         }
                        //     } else {
                        //         addListItem('Observation', step[1]);
                        //     }
                        // })
                        // addListItem('Final thought', apiResponse.output);

                        

                        // Add JSON.stringify() to convert the result.result object to a JSON string
                        //resultText.textContent = JSON.stringify(result.result, null, 2);
                        
                    }
                } catch (error) {
                    // Hide the loading spinner and enable the ask button
                    const submitBtn = $("button[type='submit']");
                    document.getElementById('loading-spinner').style.display = 'none';
                    submitBtn.prop("disabled", false);

                    console.error('Error:', error);
                    resultText.textContent = 'Error: ' + error;
                }
            }
        });
    </script>
</body>

</html>